.album-select {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.album-select button {
  margin: 15px;
}

.images-container {
  display: flex;
  flex-flow: row wrap;
}

.image-container {
  padding: 5px;
  border: 1px solid #6e6e6e;
  border-radius: 3px;
  margin: 2px;
  display: flex;
  flex-flow: column;
}

.cover-photo {
  border-color: #ff362e;
  border-width: 2px;
  margin: 1px;
}

.album-image{
  cursor: pointer;
}