{extends "../@layout.latte"}
{block content}
    <div class="landing-page-container">
        {$landingPageForm->render()}
        <img class="landing-page-mockup sixteen-nine" src="images/fullview/{$landingPageImage}">
    </div>

{/block}