{extends "../@layout.latte"}
{block content}
    {ifset $message}
        {$message}
    {/ifset}
    <div class="container">
        {$editForm->render()}
    </div>

    <div class="container">
        {$uploadForm->render()}
    </div>
{/block}