{extends "../@layout.latte"}
{block content}
    <div class="title-container">
        <h1>Profile info</h1>
    </div>
<div class="profile-info-container">
    {$profileInfoForm->render()}
    {$updateLoginForm->render()}
</div>
{/block}